<!DOCTYPE html>
<html
        class="h-100" lang="en" xmlns:sec="http://thymeleaf.org/extras/spring-security"
        xmlns:th="http://www.thymeleaf.org"
>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <!-- Bootstrap CSS -->
    <link
            crossorigin="anonymous"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
            integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
            rel="stylesheet"
    >
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <script
            crossorigin="anonymous"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    ></script>
    <script
            crossorigin="anonymous"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    ></script>
    <script
            crossorigin="anonymous"
            integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
    ></script>
    <title>Dashboard</title>
</head>

<body class="h-100">


<nav class="navbar navbar-dark bg-success navbar-expand">
    <div class="container">
        <div class="navbar-brand">
            PayMyBuddy
        </div>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="">Transfer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" sec:authorize="isAuthenticated()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container h-100">

    <div class="text-light">
    </div>

    <div class="row">
        <h2 class="text-success fw-light">Account balance: <span th:text="${balance}"></span> <span
                class="text-light fw-light"
        ></span><span> €</span></h2>
    </div>
    <div class="row justify-content-center">

    </div>
    <div class="row">
        <form method="post" >
            <div class="row justify-content-end">
                <div class="col-2">
                    <select class="form-select">
                        <option>Select a User
                        </option>
                        <option th:each="user : ${userExptFriends}"
                                th:text="${user.getFirstName()+' '+user.getLastName()}"
                                th:value="${user.getId()}">
                        </option>
                    </select>
                </div>
                <div class="col-2">
                    <button class="btn btn-primary" type="submit">Add a friend</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row bg-secondary p-5 m-3">
        <div class="row justify-content-center">
            <div class="col align-self">
                <form action="#" class="justify-content-center" th:action="@{/send}"
                      method="get">

                    <div class="row">
                        <div class="col">
                            <h6 class="text-light text-center">Send money</h6>
                        </div>
                        <div class="col-3">
                            <select  th:name="emailFriend"  class="form-select">

                                <option
                                        th:each="friend : ${friends}"
                                        th:text="${friend.getUserFriend().getFirstName()+' '+friend.getUserFriend().getLastName()}"
                                        th:value="${friend.getUserFriend().getEmail()}">
                                </option>Select a friend
                            </select>
                        </div>

                        <div class="col-2">
                            <input class="form-control" th:name="description" placeholder="Description" type="text">
                        </div>

                        <div class="col input-group">
                            <input class="form-control" th:name="amount" placeholder="Amount" type="number">
                            <span class="input-group-text">€</span>
                        </div>
                        <div class="col-2 text-center">
                            <button class="col-10 btn btn-success" type="submit">Pay</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <hr class="text-white">
    <div class="row">
        <h6 class=" text-dark text-center">My transactions</h6>
    </div>
    <hr class="text-white">
    <div class="row justify-content-center">
        <div class="col-12">
            <table class="table table-secondary table-bordered table-striped table-hover text-center">
                <thead class="table-dark">
                <tr>
                    <th class="text-center">Payer</th>
                    <th class="text-center">Description</th>
                    <th class="text-center">Amount</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="transaction : ${transactions}">
                    <td
                            th:text="${transaction.getBeneficiaryUser().getFirstName() + ' '+ transaction.getBeneficiaryUser().getLastName()}"></td>
                    <td th:text="${transaction.getDescription()}"/>
                    <td th:text="${transaction.getAmount()}+'€'"/>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>


</body>
</html>
